rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Analytics collection - genel istatistikler için
    match /analytics/{document} {
      allow read: if true;
      allow write: if true;
    }
  }
}

